<head>
  <title>Flames Calculator</title>
  <style media="screen">

  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/master.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Orbitron&family=Rowdies:wght@300&family=Teko:wght@300&display=swap" rel="stylesheet">
</head>
<body>

  <% if(rec) { %>
    <div class="msg" id= "msg">
      <div class="content" id="content">
        <p><%= name1 %> and <%= name2 %> are <%= result %></p>
        <img src="imgs/<%= imgpath %>" alt="<%= imgpath %>">
        <button type="button" name="button" onclick="closeDiv()">CLOSE</button>
      </div>
    </div>
  <% } %>



  <div class="maindiv" style="text-align:center">
    <h2>Flames Calculator</h2>
    <form class="Form-Class" action="/" method="post">
      <input type="text" name="name1" placeholder="Your Name" class="inputname"><br><br>
      <input type="text" name="name2" placeholder="Others Name" class="inputname"><br><br>
      <input type="submit" name="submit" value="submit" class="subbtn">
    </form>
  </div>

  <script type="text/javascript">
    function closeDiv()
    {
      document.getElementById('msg').style.display = "none";
    }
  </script>

</body>
